Specifying a communication protocol

In order to precisely define for clients & servers what messages are allowed by a protocol, use a grammar.  
For example, here is a very small part of the HTTP 1.1 request grammar from [RFC 2616 section 5](https://www.w3.org/Protocols/rfc2616/rfc2616-sec5.html):  
```
request ::= request-line
            ((general-header | request-header | entity-header) CRLF)*
            CRLF
            message-body?
request-line ::= method SPACE request-uri SPACE http-version CRLF
method ::= "OPTIONS" | "GET" | "HEAD" | "POST" | ...
...
```
Using the grammar, we can see that in this example request:  
```
GET /aboutmit/ HTTP/1.1
Host: web.mit.edu
```
